#### Project/deployment name ####
# needs to be unique i.e. will be used as container and network nam
COMPOSE_PROJECT_NAME=rds

# host name that is used for the nginx virtual host directive
HOST_NAME=rds.example.org

# need to be customized only when Let's Encrypt is used. See https://letsencrypt.org/docs/expiration-emails/
LETSENCRYPT_EMAIL=certs@example.org

#### DATA STORAGE MOUNT POINTS ####
DIRECTORY_BLAZEGRAPH_DATA=./binds/blazegraph-data
DIRECTORY_BLAZEGRAPH_EXCHANGE=./binds/blazegraph-exchange
DIRECTORY_PLATFORM_RUNTIME=./binds/runtime-data

#### EXTERNAL PODMAN/DOCKER NETWORKS ####
PROXY_NETWORK=name_of_proxy_network

#### DOCKER COMPATIBILITY ####
# For local development, use docker-compose.dev.yml
COMPOSE_FILE=podman-compose.yml

#### DEVELOPMENT ####
PORT_RDS=8080

#### DATA PARAMETERS ###
GITHUB_USERNAME_SIKART=githubUsernameForSikartRepo
GITHUB_TOKEN_SIKART=githubTokenForSkiartRepo