#### Project/deployment name ####
# needs to be unique i.e. will be used as container and network name
COMPOSE_PROJECT_NAME=rds


#### DATA PARAMETERS ###

# Datasets to be included in the pipeline as comma separated list.
# Possible values can be found in config/datasets.yml. 
DATASETS=aat,geonames,gnd,sikart,thesarchesp,thesobjmob,ulan,wikidata

GITHUB_USERNAME_SIKART=githubUsernameForSikartRepo
GITHUB_TOKEN_SIKART=githubTokenForSikartRepo

# QLever Access Token
QLEVER_ACCESS_TOKEN=someRandomToken

# Wikidata endpoint to use
WIKIDATA_ENDPOINT=https://qlever.dev/api/wikidata

#### DOCKER CONFIGURATION ####

# Docker compose files
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
#COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml

# Data storage mount points
DIRECTORY_OPENSEARCH_DATA=./binds/opensearch-data
DIRECTORY_PLATFORM_RUNTIME=./binds/runtime-data
DIRECTORY_QLEVER_INDEX=./binds/qlever
DIRECTORY_QLEVER_DATA=./data

#### Development parameters ####

PORT_RDS=8080
PORT_OPENSEARCH_DASHBOARD=5601
PORT_OPENSEARCH=9200
PORT_QLEVER_RDS=7001

# Reconciliation service base URL used in the manifest and preview links
# RECONCILIATION_BASE_URL=http://localhost:8000
# prod
RECONCILIATION_BASE_URL=https://reconcile.rds-cloud.swissartresearch.net

### Deployment parameters

# public host names that are used for the nginx virtual host directives
PLATFORM_HOST_NAME=rds.example.org
RECONCILE_HOST_NAME=reconcile.rds.example.org
LETSENCRYPT_EMAIL=certs@example.org

# name of the proxy network that is used for the nginx reverse proxy. This network needs to be created beforehand and the nginx container needs to be connected to it.
PROXY_NETWORK_NAME=name_of_proxy_network
