.env
binds/**/*
data/**/*
!data/.gitkeep
!data/rds-metadata/**
data-preparation/labelAdjustment/*/*
data-preparation/update-scripts/aat-data/*
data-preparation/update-scripts/geonames-data/*
data-preparation/update-scripts/gnd-authorities-data/*
data-preparation/update-scripts/gnd-bibliographic-data/*
data-preparation/update-scripts/gnd-facts-data/*
data-preparation/update-scripts/sikart-data/*
data-preparation/update-scripts/thes-arch-esp-data/*
data-preparation/update-scripts/thes-obj-mob-data/*
data-preparation/update-scripts/ulan-data/*
data-preparation/groupingFeatureAdjustment/data*
data-preparation/groupingFeatureAdjustment/output*
data-preparation/utils/blazegraph-runner/**/*
services/jobs/pipeline/tmp
services/jobs/pipeline/.task