.env
__pycache__
binds/**/*
data/**/*
!data/.gitkeep
!data/ingest/.gitkeep
!data/source/.gitkeep
!data/source/rds-metadata/**
data-preparation/labelAdjustment/*/*
data-preparation/update-scripts/aat-data/*
data-preparation/update-scripts/geonames-data/*
data-preparation/update-scripts/gnd-data/*
data-preparation/update-scripts/gnd-bibliographic-data/*
data-preparation/update-scripts/gnd-facts-data/*
data-preparation/update-scripts/sikart-data/*
data-preparation/update-scripts/thesarchesp-data/*
data-preparation/update-scripts/thesobjmob-data/*
data-preparation/update-scripts/ulan-data/*
data-preparation/groupingFeatureAdjustment/data*
data-preparation/groupingFeatureAdjustment/output*
data-preparation/utils/blazegraph-runner/**/*
docker-compose.override.yml
node_modules
pipeline/scripts/sameAsProcessing/processing_db
pipeline/tmp
pipeline/.task
services/platform/apps/rds-config/
!services/platform/apps/rds-config/plugin.properties
config/datasets.yml
services/qlever-datasets/scripts/endpoints.csv
services/search-evaluation/output/*
services/jobs/pipeline/scripts/sameAsProcessing/processing_db/*
services/jobs/pipeline/.task/checksum/*
