// main: styles.less

@font-body: 'Familjen Grotesk', Arial, sans-serif;
@font-size-body: 16px;
@font-size-body-large: 18px;
@font-data: 'Geist Mono', 'Courier New', monospace;
@font-size-data: 12px;
@col-black: #000000;
@col-grey: #5F5F5F;
@col-bg: #EAEEF0;
@col-highlight: #DBE5EB;