PREFIX gndo: <https://d-nb.info/standards/elementset/gnd#>
PREFIX geo: <http://www.opengis.net/ont/geosparql#>

SELECT ?field (GROUP_CONCAT(DISTINCT ?valueText; separator=", ") AS ?value) ?order WHERE {
  GRAPH <https://d-nb.info/gnd/authorities/graph> {
    {
      VALUES (?predicate ?field ?order) {
        (gndo:gndIdentifier "GND identifier" 1)
        (gndo:dateOfBirth "Birth date" 2)
        (gndo:dateOfDeath "Death date" 3)
        (gndo:professionOrOccupationAsLiteral "Profession / occupation" 4)
        (gndo:dateOfConferenceOrEvent "Event date" 5)
        (gndo:dateOfEstablishment "Establishment date" 6)
        (gndo:dateOfTermination "Termination date" 7)
        (gndo:dateOfPublication "Publication date" 8)
        (gndo:biographicalOrHistoricalInformation "Biographical / historical info" 9)
      }
      <[[subject]]> ?predicate ?rawValue .
    }
    UNION
    {
      <[[subject]]> ?variantPredicate ?rawValue .
      ?variantPredicate rdfs:subPropertyOf gndo:variantName .
      BIND("Variant name" AS ?field)
      BIND(10 AS ?order)
    }
    UNION
    {
      VALUES (?linkedPredicate ?field ?order) {
        (gndo:placeOfBirth "Birth place" 11)
        (gndo:placeOfDeath "Death place" 12)
        (gndo:placeOfConferenceOrEvent "Event place" 13)
        (gndo:placeOfBusiness "Place of business" 14)
        (gndo:hierarchicalSuperiorOfPlaceOrGeographicName "Parent place" 15)
        (gndo:firstAuthor "First author" 16)
        (gndo:formOfWorkAndExpression "Form of work" 17)
        (gndo:broaderTermGeneric "Broader term" 18)
        (gndo:broaderTermPartitive "Broader term" 18)
        (gndo:broaderTermInstantial "Broader term" 18)
      }
      <[[subject]]> ?linkedPredicate ?linkedResource .
      OPTIONAL {
        ?linkedResource ?labelPredicate ?linkedLabel .
        ?labelPredicate rdfs:subPropertyOf gndo:preferredName .
      }
      BIND(COALESCE(?linkedLabel, ?linkedResource) AS ?rawValue)
    }
    UNION
    {
      <[[subject]]> geo:hasGeometry/geo:asWKT ?rawValue .
      BIND("Coordinates" AS ?field)
      BIND(19 AS ?order)
    }
  }
  BIND(STR(?rawValue) AS ?valueText)
}
GROUP BY ?field ?order
ORDER BY ?order
