<h2>Welcome to RDS</h2>


<semantic-search
    limit='100'
    id='search-browse'
>
    <semantic-search-query-keyword 
        min-search-term-length='3' 
        debounce='600'
        tokenize-lucene-query='true'
        query='SELECT DISTINCT ?subject WHERE {
                   SERVICE <http://platform:8080/sparql?repository=opensearch> {
                        ?query os:hasQuery ?__token__ ;
                            os:hasScore ?score ;
                            os:hasSubject ?subject ;
                            os:hasDataset ?dataset .
                        }
                }
    '>
    </semantic-search-query-keyword>
    <semantic-search-result-holder>
        <semantic-search-result>
            <semantic-table 
                id='grid-result'
                query='SELECT DISTINCT ?subject ?dataset (GROUP_CONCAT(STR(?sameas); SEPARATOR=", ") AS ?references) ?score WHERE {
                    OPTIONAL {
                        ?subject rds:related ?sameas .
                    }
                } GROUP BY ?subject ?dataset ?score'
                number-of-displayed-rows="50"
                options='{
                    "showFilter": false
                }'
                no-result-template="Nothing found"
            >    
            </semantic-table>
        </semantic-search-result>
    </semantic-search-result-holder>
</semantic-search>  
