<mp-event-target-template-render id="detail-panel" template="{{> detail-panel-template}}">
  <template id="detail-panel-template">
    {{#if subjectUri}}
      <div class="detail-panel">
        <div class="detail-panel-header">
          <h3>{{prefLabel}}</h3>
          <mp-event-trigger
            type="Component.TemplateUpdate"
            targets='["detail-panel"]'
            data='{}'>
            <rds-record-deselect class="detail-close">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.4985 0L10.0005 8.49798L1.50255 0L0 1.50202L8.49851 10L0 18.498L1.50255 20L10.0005 11.502L18.4985 20L20.0011 18.498L11.5025 10L20.0011 1.50202L18.4985 0Z" fill="currentColor"/>
              </svg>
            </rds-record-deselect>
          </mp-event-trigger>
        </div>

        <div class="detail-panel-section">
          <div class="detail-row">
            <span class="detail-property">Dataset</span>
            <span class="detail-value">
              <span class="rds-badge" data-ds="{{dataset}}">{{dataset}}</span>
            </span>
          </div>
          <div class="detail-row">
            <span class="detail-property">RDS type</span>
            <span class="detail-value">{{rdsType}}</span>
          </div>
          <div class="detail-row">
            <span class="detail-property">URI</span>
            <span class="detail-value">{{subjectUri}}</span>
          </div>
          <div class="detail-row">
            <span class="detail-property">Source type(s)</span>
            <semantic-query
              query='SELECT DISTINCT ?originalType WHERE {
                BIND(<{{subjectUri}}> AS ?subject)
                BIND("{{dataset}}" AS ?dataset)

                VALUES (?dataset ?sourceGraph) {
                  ("aat" <http://vocab.getty.edu/aat/graph>)
                  ("gnd" <https://d-nb.info/gnd/authorities/graph>)
                  ("geonames" <http://sws.geonames.org/graph>)
                  ("sikart" <http://recherche.sik-isea.ch/graph>)
                  ("ulan" <http://vocab.getty.edu/ulan/graph>)
                  ("wikidata" <http://www.wikidata.org/graph>)
                }

                GRAPH ?sourceGraph {
                  ?subject a ?originalType .
                }
              }
              LIMIT 12'
              template="{{> detail-source-types-template}}"
              no-result-template=""
            >
              <template id="detail-source-types-template">
                {{#if bindings}}
                  <span class="detail-value">
                    {{#each bindings}}
                      <span><mp-label iri="{{originalType.value}}"></mp-label>{{#unless @last}}, {{/unless}}</span>
                    {{/each}}
                  </span>
                {{/if}}
              </template>
            </semantic-query>
          </div>
        </div>

        {{#ifCond dataset "==" "gnd"}}
          <semantic-query query='[[> partial:queryGnd]]' template="{{> detail-fields}}" no-result-template="">
            [[> detailFieldsTemplate]]
          </semantic-query>
        {{/ifCond}}

        <semantic-link class="detail-resource-link" iri="{{subjectUri}}" target="_blank">
          Open full record
        </semantic-link>
      </div>
    {{/if}}
  </template>
</mp-event-target-template-render>

[[#*inline "detailFieldsTemplate"]]
  <template id="detail-fields">
    {{#if bindings}}
      <div class="detail-panel-section">
        <div class="detail-section-title">Details</div>
        {{#each bindings}}
          <div class="detail-row">
            <span class="detail-property">{{field.value}}</span>
            <span class="detail-value">{{value.value}}</span>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </template>
[[/inline]]
