<h2>Welcome to RDS</h2>


<semantic-search
    limit='100'
    id='search-browse'
>
    <semantic-search-query-keyword 
        min-search-term-length='3' 
        debounce='600'
        tokenize-lucene-query='true'
        query='SELECT DISTINCT ?subject WHERE {
                   SERVICE <http://platform:8080/sparql?repository=opensearch> {
                        ?query os:hasQuery ?__token__ ;
                            os:hasScore ?score ;
                            os:hasSubject ?subject ;
                            os:hasDataset ?dataset ;
                            os:hasDescription ?description ;
                            os:hasPrefLabel ?prefLabel .
                        }
                }
    '>
    </semantic-search-query-keyword>
    <semantic-search-result-holder>
        <semantic-search-result>
            <semantic-table 
                id='grid-result'
                query='SELECT DISTINCT ?prefLabel ?subject ?description ?dataset ?score WHERE {
                    
                } GROUP BY ?subject ?description ?prefLabel ?dataset ?score
                ORDER BY DESC(?score)'
                number-of-displayed-rows="50"
                options='{
                    "showFilter": false
                }'
                no-result-template="Nothing found"
                column-configuration='[
                    {
                        "variableName": "prefLabel",
                        "displayName": "Label",
                        "cellTemplate": "{{> prefLabelTemplate}}"                        
                    },
                    {
                        "variableName": "description",
                        "displayName": "Description"
                    },
                    {
                        "variableName": "dataset",
                        "displayName": "Dataset"
                    },
                    {
                        "variableName": "references",
                        "displayName": "References",
                        "cellTemplate": "{{> referencesTemplate}}"
                    },
                    {
                        "variableName": "score",
                        "displayName": "Score"
                    }
                ]'
            >    
                <template id="prefLabelTemplate">
                    <semantic-link iri="{{subject.value}}">{{prefLabel.value}}</semantic-link>
                </template>
                <template id="referencesTemplate">
                    <semantic-query
                        query='SELECT DISTINCT ?reference WHERE {
                             BIND(<{{subject.value}}> AS ?subject)
                             {
                                {
                                ?subject rds:related ?sameas .
                                } UNION {
                                ?sameas rds:related ?subject .
                                }
                                BIND(?sameas AS ?reference)
                            }
                            UNION
                            {
                                {
                                ?subject rds:related ?sameas .
                                } UNION {
                                ?sameas rds:related ?subject .
                                }

                                {
                                ?other rds:related ?sameas .
                                } UNION {
                                ?sameas rds:related ?other .
                                }

                                FILTER(?other != ?subject)
                                BIND(?other AS ?reference)
                            }
                        }'
                    ></semantic-query>
            </semantic-table>
        </semantic-search-result>
    </semantic-search-result-holder>
</semantic-search>  
