<mp-event-target-template-render id="detail-panel" template="{{> detail-panel-template}}">
  <template id="detail-panel-template">
    {{#if subjectUri}}
      <semantic-query
        query='SELECT ?value WHERE {
          <{{subjectUri}}> rdf:type ?value .
        }'
        template="{{> detail-props-template}}"
      >
        <template id="detail-props-template">
          <div class="detail-panel">
            <div class="detail-panel-header">
              <h3>{{prefLabel}}</h3>
              <mp-event-trigger
                type="Component.TemplateUpdate"
                targets='["detail-panel"]'
                data='{}'>
                <button class="detail-close">✕</button>
              </mp-event-trigger>
            </div>
            <div class="detail-dataset">{{dataset}}</div>
            <div class="detail-row">
              <span class="detail-property">Type</span>
              <div>
                {{#each bindings}}
                  <div class="detail-value">
                    <mp-label iri="{{value.value}}"></mp-label>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </template>
      </semantic-query>
    {{/if}}
  </template>
</mp-event-target-template-render>
